* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: rgba(114, 104, 104, 0.603);
}

h2 {
  text-align: center;
  font-size: 48px;
  color: #f3f3f3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  min-height: 100px;
}

button{
  border: none;
  font-size: 30px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  text-align: right;
}